# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives**
- List popular languages for Data Science
- Some commonly used libraries by Data Scientists
- How to create markdown cell with a table of Data Science Tools?
- How to create a markdown cell introducing arithmetic expression?

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. Java
4. C++

Some of the commonly used libraries used by Data Scientists includes:
1. caret
2. NumPy
3. SciPy
4. Pandas

|Data Science Tools|
| ----------------- |
|Hadoop HDFs|
|Elastic search|
|ETL|
|mongoDB|
|MySQL|

### Below are few examples of evaluating arithmetic expressions in Python

In [2]:
## This a simple arithmetic expression to multiply then add integers
(3*4)+5

17

In [3]:
## This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

## Author
Shujaat Ali